In [1]:
import numpy as np
import pandas as pd

In [2]:
movies= pd.read_csv('netflix_titles.csv')

In [3]:
movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
movies.shape

(8807, 12)

In [6]:
#to merge 2 data sets use seta=seta.merge(setb,on='id')

#importent things
# show_id,title,cast,listed_in,description
movies=movies[['show_id','title','cast','listed_in','description']]

In [7]:
movies.head()

,show_id,title,cast,listed_in,description
0,s1,Dick Johnson Is Dead,NaN,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...","International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...","Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,Jailbirds New Orleans,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...","International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [8]:
movies.isnull().sum()  #to find the null data

show_id          0
title            0
cast           825
listed_in        0
description      0
dtype: int64

In [9]:
movies.dropna(inplace=True) #to delete null rows

In [10]:
movies.duplicated().sum() #to find duplicate data

0

In [11]:
movies['cast']=movies['cast'].apply(lambda x:x[0:40])

In [12]:
movies['description']=movies['description'].apply(lambda x:x.split())
movies['cast']=movies['cast'].apply(lambda x:x.split())
movies['listed_in']=movies['listed_in'].apply(lambda x:x.split())

movies.head()

,show_id,title,cast,listed_in,description
1,s2,Blood & Water,"[Ama, Qamata,, Khosi, Ngema,, Gail, Mabalane,]","[International, TV, Shows,, TV, Dramas,, TV, M...","[After, crossing, paths, at, a, party,, a, Cap..."
2,s3,Ganglands,"[Sami, Bouajila,, Tracy, Gotoas,, Samuel, Jouy]","[Crime, TV, Shows,, International, TV, Shows,,...","[To, protect, his, family, from, a, powerful, ..."
4,s5,Kota Factory,"[Mayur, More,, Jitendra, Kumar,, Ranjan, Raj,]","[International, TV, Shows,, Romantic, TV, Show...","[In, a, city, of, coaching, centers, known, to..."
5,s6,Midnight Mass,"[Kate, Siegel,, Zach, Gilford,, Hamish, Linkla]","[TV, Dramas,, TV, Horror,, TV, Mysteries]","[The, arrival, of, a, charismatic, young, prie..."
6,s7,My Little Pony: A New Generation,"[Vanessa, Hudgens,, Kimiko, Glenn,, James, Mar]","[Children, &, Family, Movies]","[Equestria's, divided., But, a, bright-eyed, h..."

In [13]:
def toString(s):
    new=""
    return (new.join(s))

movies['cast']=movies['cast'].apply(toString)
movies['listed_in']=movies['listed_in'].apply(toString)
movies['description']=movies['description'].apply(toString)

In [14]:
movies['tags']= movies['cast']+ movies['listed_in']+ movies['description']
new_df=movies[['show_id','title','tags']]
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

new_df.head()

C:\Users\91893\AppData\Local\Temp\ipykernel_32152\3368603902.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

,show_id,title,tags
1,s2,Blood & Water,"amaqamata,khosingema,gailmabalane,internationa..."
2,s3,Ganglands,"samibouajila,tracygotoas,samueljouycrimetvshow..."
4,s5,Kota Factory,"mayurmore,jitendrakumar,ranjanraj,internationa..."
5,s6,Midnight Mass,"katesiegel,zachgilford,hamishlinklatvdramas,tv..."
6,s7,My Little Pony: A New Generation,"vanessahudgens,kimikoglenn,jamesmarchildren&fa..."

In [15]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\91893\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\users\91893\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: click in c:\users\91893\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\91893\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: joblib in c:\users\91893\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in c:\users\91893\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [16]:
import nltk

In [17]:
from nltk.stem.porter  import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

new_df['tags']=new_df['tags'].apply(stem)

C:\Users\91893\AppData\Local\Temp\ipykernel_32152\2539959527.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [21]:
vectors=cv.fit_transform(new_df['tags']).toarray()

#cv.get_feature_names()

In [22]:
 from sklearn.metrics.pairwise  import cosine_similarity

In [23]:
similarity=cosine_similarity(vectors)

In [24]:
sorted(list(enumerate(similarity[4])),reverse=True,key=lambda x:x[1])[1:6]

[(325, 0.35355339059327373),
 (1303, 0.2886751345948129),
 (7331, 0.2886751345948129),
 (1516, 0.25),
 (2945, 0.25)]

In [25]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [29]:
recommend('Rustom')

Carbon
The Father Who Moves Mountains
Schumacher
JJ+E
The Tambour of Retribution

In [30]:
import pickle

In [31]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [32]:
pickle.dump(similarity,open('similarity.pkl','wb'))